<?xml version="1.0" encoding="ISO-8859-1"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="PI_RATEPAY_RATEPAY" cl="RatepayDetails" />
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="PI_RATEPAY_RATEPAY">
            <SUBMENU id="PI_RATEPAY_ADMIN_MENU_PROFILES" cl="ratepayprofile" list="ratepayprofilelist">
                <TAB id="PI_RATEPAY_PROFILE_DETAILS" cl="RatepayProfileMain" />
            </SUBMENU>
            <SUBMENU id="PI_RATEPAY_LOGGING" cl="ratepaylog" list="ratepayloglist">
                <TAB id="PI_RATEPAY_LOGGING_ENTRY" cl="RatepayLogMain" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
