@charset "utf-8";

.rpContainer {
    width: 120%;
}
.rp-installment-plan-description {
    display: none;
}
#pi_ratepay_rate_rp-installment-plan-details, #pi_ratepay_rate0_rp-installment-plan-details {
    display: none;
}
#pi_ratepay_rate_rp-installment-plan-no-details, #pi_ratepay_rate0_rp-installment-plan-no-details {
    display: block;
}
#pi_ratepay_rate_rp-hide-installment-plan-details, #pi_ratepay_rate0_rp-hide-installment-plan-details {
    display: none;
}
#pi_ratepay_rate_rp-show-installment-plan-details, #pi_ratepay_rate0_rp-show-installment-plan-details {
    display: block;
}
.rp-table-striped {
    width: 90%;
}
.rp-menue,
.rp-installment-plan-details,
.rp-installment-plan-no-details {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 0px 3px;
    padding: 13px 6px;
}

.rp-installment-plan-details:nth-child(odd) {
    background-color: #f9f9f9;
}

.rp-installment-plan-title {
    float: left;
}
.warning {
    background-color: #fcf8e3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px 0px;
}
.text-center {
    padding: 10px 0px;
    border-top: 1px solid #ddd
}
.rp-sepa-form {
    width: 80%;
    margin-left: 14px;
}
.rp-sepa-table {
    margin-left: -10px;
}
.rp-special-item {
    margin-left: 5px;
}
.rp-link {
    margin-left: 20px
}
#pi_ratepay_rate_rp-sepa-agreement, #pi_ratepay_rate0_rp-sepa-agreement {
    margin-left: 5px
}
.form-group input, .form-group label {
    margin-left: 5px
}
#pi_ratepay_rate_rp-switch-payment-type-direct-debit, #pi_ratepay_rate_rp-switch-payment-type-direct-debit, #pi_ratepay_rate0_pi_ratepay_rate_rp-rate-elv, #pi_ratepay_rate0_pi_ratepay_rate_rp-rate-elv {
    display: none;
}
#pi_ratepay_rate_rp-switch-payment-type-direct-debit, #pi_ratepay_rate_rp-rate-elv, #pi_ratepay_rate0_rp-switch-payment-type-direct-debit, #pi_ratepay_rate0_rp-rate-elv {
    display: none;
}
#pi_ratepay_rate_rp-iban-account-number, #pi_ratepay_rate0_rp-iban-account-number {
    display: block;
}
.rp-payment-type-switch A {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#FFF;
    cursor:pointer;
    vertical-align:middle;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.rp-installment-header {
    display:inline-block;
    text-decoration: underline;
    margin: 0 0 10px 6px;
}